# Default detekt configuration:
# https://github.com/detekt/detekt/blob/master/detekt-core/src/main/resources/default-detekt-config.yml

formatting:
  Indentation:
    active: true
  NoWildcardImports:
    active: false
complexity:
  TooManyFunctions:
    thresholdInClasses: 20
    ignoreDeprecated: true
    ignorePrivate: true
    ignoreOverridden: true
  LongMethod:
    active: true
    threshold: 100
style:
  MagicNumber:
    active: false
  WildcardImport:
    active: false
    excludeImports: ['java.util.*', 'kotlinx.coroutines.*', 'dev.polek.adbwifi.utils.*']
  ReturnCount:
    active: false
  LoopWithTooManyJumpStatements:
    active: false
performance:
  SpreadOperator:
    active: false
